@font-face {
  font-family: KelsonSans;
  src: url(/font/KelsonSans-Normal.woff2);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}
a {
  text-decoration: none;
}
/* LANDING PAGE CONTENT */
.travelinfo {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 83px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__contact__text {
  opacity: 0.56;
  padding: 5px;
  margin-left: 5px;
}

.header__contact__text__bold {
  vertical-align: baseline;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  margin-left: 5px;
}
.header__menu {
  display: flex;
}
.header__logo {
  height: 120px;
  margin-top: -50px;
  margin-left: -100px;
}
.menu__icon {
  height: 64px;
  padding-left: 20px;
  margin-top: -5px;
}
.menu__icon:hover {
  cursor: pointer;
}
.landing {
  background-image: url("./img/Background.png");
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.landing__content {
  margin-left: 138px;
  margin-top: 129px;
  margin-right: 114px;
}

.landing__title__main {
  font-weight: 700;
  text-transform: uppercase;
}

.landing__text__sub {
  font-family: "KelsonSans", sans-serif;
  font-weight: 400;
  font-size: 52px;
  margin-top: 0;
}

.tripinfo {
  margin-top: 50px;
}

.button {
  display: flex;
  width: 181px;
  height: 64px;
  border-radius: 32px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.button:hover {
  cursor: pointer;
}
/*END OF THE LANDING PAGE CONTENT */
/* TRAVEL PAGE CONTENT */
.travel {
  position: relative;
  height: 1000px;
  width: 100%;
}

.travel__content {
  width: 75%;
  height: 1000px;
  margin-top: 200px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .travel__cursor {
  position: absolute;
  background-color: rgb(207, 64, 64);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
} */
.travel__content__image1 {
  margin-top: 100px;
  margin-left: 100px;
  align-items: flex-start;
  height: 585px;
  width: 400px;
}

.travel__content__image2 {
  align-items: flex-end;
  height: 560px;
  margin-top: 130px;
}

.travel__content__right {
  margin-top: -120px;
  display: block;
  width: 420px;
}

.travel_content__right__text {
  font-family: "KelsonSans", sans-serif;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.travel_content__right__text__sub {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
/*END OF THE TRAVEL PAGE CONTENT */
/* PLANING PAGE CONTENT */
.planing {
  height: 100vh;
  margin-bottom: 600px;
}
.planing__text {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 76px;
  overflow: hidden;
}
.planing__text__top {
  font-family: "KelsonSans", sans-serif;
  weight: 400;
  font-size: 96px;
  text-transform: uppercase;
  white-space: nowrap;
}
.planing__text__bottom {
  font-family: "KelsonSans", sans-serif;
  weight: 400;
  font-size: 96px;
  text-transform: uppercase;
  white-space: nowrap;
}
.planing_image {
  height: 600px;
  width: 100%;
  background-image: url("./img/Background-planing.png");
  background-position: center;
  background-size: cover;
}

.planing__picture__text {
  position: relative;
  height: 600px;
  width: 100%;
}

.planing__picture__text__paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  text-align: center;
  margin-top: -50px;
  font-family: "KelsonSans", sans-serif;
}

.planing__text__top {
  /* animation infinite scrolling */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: scrolling-right-left 40s linear infinite;
  -webkit-animation: scrolling-right-left 40s linear infinite;
  animation: scrolling-right-left 40s linear infinite;
}

/* for Firefox */
@-moz-keyframes scrolling-right-left {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes scrolling-right-left {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-right-left {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* end of the infinite scrolling-right-left */
/* infinite scrolling left-right */
.planing__text__bottom {
  /* animation infinite scrolling */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: scrolling-left-right 40s linear infinite;
  -webkit-animation: scrolling-left-right 40s linear infinite;
  animation: scrolling-left-right 40s linear infinite;
}

/* for Firefox */
@-moz-keyframes scrolling-left-right {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes scrolling-left-right {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left-right {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  /* end of infinite scrolling left-right */
}
/* END OF THE PLANING PAGE CONTENT */
/* PREVIEW PAGE CONTENT */
.preview {
  height: 95vh;
  position: relative;
  width: 100%;
}
.preview__content {
  margin-left: 30%;
  margin-top: 200px;
}

.preview__content__image {
  height: 630px;
  width: 630px;
}

.preview__conent__textbox {
  width: 470px;
  height: 520px;
  position: absolute;
  margin-top: 55px;
  margin-left: 395px;
  background-color: white;
}
.preview__content__textbox__title {
  font-family: "KelsonSans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.preview__content__textbox__sub {
  font-size: 16px;
  margin-left: 75px;
  margin-top: 90px;
  line-height: 30px;
  color: #767676;
}
.preview__content__image__number {
  font-size: 360px;
  color: white;
}
.preview__content__image__box {
  display: flex;
  justify-content: space-between;
}
/* END OF THE PREVIEW PAGE CONTENT */
/* FOOTER CONTENT */
footer {
  height: 95vh;
  background-color: #2a2a2a;
}
.footer__content {
  margin-left: 255px;
}
.footer_top {
  display: flex;
}
.footer_text_box {
  display: block;
  padding-top: 140px;
  width: 500px;
  padding-right: 200px;
}

.footer_maint_text {
  color: white;
  font-family: "KelsonSans", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.footer_links {
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding-top: 175px;
  margin-right: 200px;
  margin-left: -100px;
}
.footer_link__socialmedia {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.footer_link__language {
  color: white;
  margin-right: 10px;
  margin-left: 30px;
}

.footer__contact {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer__contact__position__container {
  display: flex;
  justify-content: space-between;
}
.footer__contact__position {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 205px;
  font-size: 20px;
  margin-top: 130px;
}
.footer__contact__title {
  font-size: 14px;
  margin-bottom: 20px;
}
.footer__contact__link {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.footer__logo__container {
  margin-right: 10%;
  height: 260px;
}
.footer__bottom {
  width: 100%;
  color: white;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}
.footer__bottom__left {
  display: flex;
}
.footer__bottom__right {
  display: flex;
  margin-right: 18%;
}
.footer__bottom__privarepolicy {
  border-bottom: 1px solid;
  margin-left: 25px;
  color: white;
  padding-bottom: 5px;
}

.footer__bottom__privarepolicy:hover {
  cursor: pointer;
}
.footer__bottom__company {
  margin-left: 20px;
}
